/* -------------------------- debug -------------------------- */

/* You can comment/uncomment 1 line below for debugging */
/* Try it 😉 */

/* * {box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;} */
/* body {box-shadow: -1px 1px 10px 3px red inset;} */
/* header {box-shadow: -1px 1px 10px 3px yellow inset;} */
/* section {box-shadow: -1px 1px 10px 3px blue inset;} */

/* ----------------------------------------------------------- */

*{
    margin: 0; padding: 0;
    /* ... here, code for anchor link animations */
}


body {background-color: rgb(245, 245, 245);}
header, footer {background-color: rgb(220, 220, 220);}


/**
 * ...
 * ... Mobile fisrt
 * ...
 * ... your code here
 * ...
 */
 
#section-1 div {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin: 15px;

    
}
#grid div div{
    height: 150px;
    width: 150px;
    border:2px solid black;
    border-radius: 5em;
    margin: 15px;
    display:flex;align-items: center; justify-content:center ;
    font-size: 30px;
}
#grid {
    display: flex;align-items:center ;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer {
    height: 200px; 
    align-items:center ; 
    justify-content: center;
    display: flex;
    position: relative;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

#section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    
}

#section-1 div img {
    width: 100%;  

}

#section-1 div:hover  {

    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
a {
    font-size: 25px;
    justify-content: right;
    position: absolute;
    left: 0;
    right: 25px;
    display: flex;
    bottom: 15px;
}

#section-2 {
    position: relative;
}
#footer a {
    font-size: 25px;
    justify-content: right;
    position: absolute;
    display: flex;
    bottom: 162px;
}
#grid > div{
    transition: transform .5s;
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5) inset;}

#grid div div:hover{
    transform:scale(1.1) rotate(360deg);
}



